body {
    padding: 0;
    margin: 0;
}

header {
    border: 5px solid black;
    height: 100px;
    background: black;
    border-bottom: 5px solid yellow;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 8px;

}

#logo a {
    text-decoration: none;
    color: yellow;
    font-size: 40px;
    padding: 10px;
}

.list a {
    text-decoration: none;
    color: white;
}

.heading {
    border: 5px solid rgb(182, 182, 182);
    background-color: rgb(182, 182, 182);
    font-size: 25px;
    text-align: center;

}

.underline {
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-color: yellow;
}

img {
    width: 1500px;
    height: 550px;
    object-fit: cover;
}


